.colorPicker {
    background: none;
    border: none;
    width: 100%;
    //desktop
    @media (min-width: 1024px) {
        width: 50%;
    }
    $PointerSize: 2rem;
    $TrasitionTime: 1s;
    .hue{
        width: 100%;
        height: $PointerSize;
        border-radius: 2px;
        background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
        border: 1px solid #000;
        border-radius: $PointerSize;
    }
    .huePointer{
        position: relative;
        width: $PointerSize;
        height: $PointerSize;
        border-radius: 50%;
        border: 2px solid #000;
        transition: all $TrasitionTime ease-in-out;
        transition: all $TrasitionTime ease-in-out;
    }
    .saturation{
        width: 100%;
        height: $PointerSize;
        border-radius: 2px;
        border: 1px solid #000;
        border-radius: $PointerSize;
        transition: all $TrasitionTime ease-in-out;
    }
    .saturationPointer{
        position: relative;
        width: $PointerSize;
        height: $PointerSize;
        border-radius: 50%;
        border: 2px solid #000;
        transition: all $TrasitionTime ease-in-out;
    }
    .lightness{
        width: 100%;
        height: $PointerSize;
        border-radius: 2px;
        border: 1px solid #000;
        border-radius: $PointerSize;
        transition: all $TrasitionTime ease-in-out;
    }
    .lightnessPointer{
        position: relative;
        width: $PointerSize;
        height: $PointerSize;
        border-radius: 50%;
        border: 2px solid #000;
        transition: all $TrasitionTime ease-in-out;
    }
}