@keyframes GrowIn {
    0% {
        transform: scale(0);
        opacity: 0;
        transform: rotate(45deg);
    }

    100% {
        transform: scale(1);
        opacity: 1;
        transform: rotate(0deg);
    }
}

.card {
    width: 20rem;
    padding: 1rem;
    margin-bottom: 5rem;
    animation: GrowIn 1s ease-in-out;
    animation-fill-mode: backwards;
    background-image: url("/assets/sticker background.png") , linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
    background-size: 100px 100px;
    border-radius: 5rem;

    h1 {
        margin: 0;
        font-size: 2.3rem;
        font-family: helvetica neue,Helvetica,Arial,sans-serif;
        color: transparent !important;
        font-weight: 700;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: -2rem;
        margin-top: -2rem;
    }

    .coloInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 0rem;

        span {
            margin: 0 0.5rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            box-shadow: 0 0 2rem rgba(255, 255, 255, 0.115);
            border: 1px solid black;
        }
    }

    .spotLight{
        // Spot Light effect
        background-repeat: no-repeat;
        background-position: center;
        
        height: 10rem;
        width: 10rem;
        z-index: 1;
        position: absolute;
    }
}